:root {
	--cell-font-size: 0px;
}

#root {
	margin: 0 auto;
	text-align: center;
	height: 100vh;
	width: 100vw;
	overflow-y: hidden;
	background-color: black;
}

.grid {
	user-select: none;
	width: fit-content;
	position: relative;
}

.overlay {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: inset 0 0 64px 13px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: inset 0 0 64px 13px rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 0 64px 13px rgba(0, 0, 0, 0.6);
	z-index: 1;
	flex-direction: column;
	align-items: center;
}

.overlay button {
	max-width: fit-content;
}

.row {
	display: flex;
}

.cell {
	width: 32px;
	height: 32px;
	font-size: calc(1.1rem + var(--cell-font-size));
	background-color: #c6312f;
	transition: filter 0.15s ease-in-out, width 0.15s linear, height 0.15s linear;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	border: 1px solid white;
	transition: 1.5s;
}

.larger {
	width: 40px;
	height: 40px;
	font-size: calc(1.4rem + var(--cell-font-size));
}

.row:nth-child(even) .cell:nth-child(odd),
.row:nth-child(odd) .cell:nth-child(even) {
	background-color: #303434;
}

.cell:not(.empty, .filled):hover {
	filter: brightness(40%);
	transition: 0.1s;
}

.cell.filled {
	background-color: #e5c29f;
	cursor: default;
}

.row:nth-child(even) .cell:nth-child(odd).filled,
.row:nth-child(odd) .cell:nth-child(even).filled {
	background-color: #d7b899;
}

.container {
	background: url(./public/Background.png);
	height: 100%;
	background-position-x: center;
	background-repeat: no-repeat;
	background-color: black;
}


.App {
	display: flex;
	justify-content: center;
	position: fixed;
	width: 100%;
	top: 9.5em;
}

.login {
	position: relative;
	display: flex;
	top: 15em;
	width: 100%;
	justify-content: center;
}

#positivefeedback {
	position: fixed;
	display: flex;
	color: rgba(0, 196, 0, 0.708);
	font-size: 100vh;
	justify-content: center;
	align-items: center;
	z-index: 11;
	height: 100%;
	user-select: none;
}

#negativefeedback {
	position: fixed;
	display: flex;
	color: rgba(208, 0, 0, 0.708);
	font-size: 80vh;
	justify-content: center;
	align-items: center;
	z-index: 11;
	height: 100%;
	user-select: none;
}
